
.video-container {
  height: 100vh;
  padding-bottom: 1rem;
}
video {
    object-fit: fill;
}
  
  @media (max-width: 768px) {
    .video-container {
      margin-top: 5rem;
      height: auto;
    }  
    video {
        object-fit:contain;
    }
}

.img-container {
  width: 105%;
  height: 178px; /* גובה קבוע */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border: none;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  padding-top: 10px;
}


